<footer class="bg-dark text-light py-4">
  <div class="container text-center">
    <p>&copy; 2025 Laxmi Dresses. All rights reserved.</p>
    <div class="d-flex justify-content-center gap-3">
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" width="24"></a>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png" width="24"></a>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png" width="24"></a>
    </div>
  </div>
</footer>
